html(lang="ko")
	include ./inc/header.pug
	body(style="background-color: gray")
		include ./inc/navi.pug
		div.container
			h1= `${name} 안녕하세요, PUG`
			table.table.table-bordered#user-tbl
				thead
					tr
						th 번호
						th 이름
						th 나이
				tbody
					each item in users
						tr
							td= item.id
							td= item.name
							td= item.age
					- for(var i=0; i<users.length; i++) {
						tr
							td= users[i].id
							td= users[i].name
							td= users[i].age
					- }
	include ./inc/footer.pug