html
	head
		title= title
	body
		h1= `${name} 안녕하세요, PUG`
		table
			thead
				tr
					th 번호
					th 이름
					th 나이
			tbody
				each item in users
					tr
						td= item.id
						td= item.name
						td= item.age